#logo {
    height: 50pt;
    width: 50pt;
}

#logo2 {
    height: 50pt;
    width: 50pt;
    position: absolute;
    top: 0;
    right: 0;
}

#background {
    background: rgba(73,165,191,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(73,165,191,1) 0%, rgba(43,14,87,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,165,191,1)), color-stop(100%, rgba(43,14,87,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(73,165,191,1) 0%, rgba(43,14,87,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(73,165,191,1) 0%, rgba(43,14,87,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(73,165,191,1) 0%, rgba(43,14,87,1) 100%);
background: radial-gradient(ellipse at center, rgba(73,165,191,1) 0%, rgba(43,14,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#2b0e57', GradientType=1 );
}

#storename {
    font-family: 'Gloria Hallelujah', cursive;
    position: absolute;
    top: 0;
    right: 390pt;
    font-size: 34pt;
    margin-top: 0;
    color: white;


}

#header {
    height: 80pt;
    margin-bottom: -30pt;
}

#iceCreamPic {
    height: 230pt;
    margin-bottom: 20pt;
    width: 945pt;
    left: 300pt;
    border: 2pt solid black;
    
}

#menu {
    width: 200pt;
    height: 465pt;
    float: left;
    border: 2pt solid black;
}

#about {
    border: 2pt solid black;
    float: right;
    width: 200pt;
    height: 140pt;
    position: absolute;
    right: 10;
}

#pic2 {
    float: right;
    width: 200pt;
    height: 140pt;
    position: absolute;
    right: 10;
    top: 455pt;
    border: 2pt solid black;
}

#pop {
    border: 2pt solid black;
    float: right;
    width: 200pt;
    height: 140pt;
    position: absolute;
    right: 10;
    top: 617pt;
}

#center {
    border: 2pt solid black;
    width: 500pt;
    height: 465pt;
    position: absolute;
    right: 230pt;
}

#toppings {
    border: 2pt solid black;
    width: 950pt;
    height: 100pt;
    position: absolute;
    right: 2pt;
    top: 780pt;
    left: 5pt;
}